.uk-card {
  border-radius: 10px;
}

.uk-card .button__buy {
  font-weight: bold;
  background-color: #48bb78;
  color: #c6f6d5;
  border-radius: 10px;
}

.uk-card .button__details {
  font-weight: bold;
  background-color: #ecc94b;
  color: #fefcbf;
  border-radius: 10px;
  margin-left: 5px;
}

.uk-card .button__buy:hover {
  background-color: #2f855a;
}

.uk-card .button__details:hover {
  background-color: #b7791f;
}

.uk-card-media-top {
  overflow: hidden;
  border-radius: 10px;
}

.uk-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center 20%;
  transition: all 1s ease-out;
  border-radius: 10px;
}

.uk-card img:hover {
  transform: scale(1.2);
}