.root, .cart__wrapper .cart-body {
  background-color: #fafafa;
}

.root .uk-card, 
.root .cart-button, 
.filters__wrapper .uk-nav li .cart__wrapper .uk-modal-dialog {
  border-radius: 10px;
}

.root .cart-button {
  border: none;
  padding: 0;
  color: rgb(155, 155, 155);
}

.root .cart-button:hover {
  color: rgb(100, 100, 100);
}

.root li {
  cursor: pointer;
}

.filters__wrapper ul li {
  color: rgb(155, 155, 155);
}

.filters__wrapper ul li:hover {
  color: rgb(100, 100, 100);
}

.search__wrapper .search:focus {
  border: 1px solid rgb(199, 199, 199);
}

.animals__wrapper .button__details {
  width: 130px;
  background-color: #ecc94b;
  color: #fefcbf;
  margin-left: 5px;
}

.animals__wrapper .button__details:hover {
  background-color: #b7791f;
}

.animals__wrapper-media-top {
  overflow: hidden;
  border-radius: 10px;
}

.animals__wrapper img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center 20%;
  transition: all 1s ease-out;
  border-radius: 10px;
}

.animals__wrapper .uk-card-media-top {
  overflow: hidden;
  border-radius: 10px;
}

.animals__wrapper img:hover {
  transform: scale(1.2);
}

.pagination__wrapper li:hover {
  color: #00b14a;
}

.cart__wrapper .required {
  color: rgb(201, 16, 16);
}

.cart__wrapper .button__clear {
  background-color: #a0aec0;
  color: #edf2f7;
  margin-left: 5px;
}

.cart__wrapper .button__clear:hover {
  background-color: #4a5568;
}

.button-success {
  background-color: #48bb78 !important;
  color: #c6f6d5 !important;
  font-weight: bold !important;
}

.button-success:hover {
  background-color: #2f855a !important;
}

.button-danger {
  background-color: #f56565 !important;
  color: #feb2b2 !important;
  font-weight: bold !important;
}

.button-danger:hover {
  background-color: #c53030 !important;
}

.filter-highlight {
  background-color: rgb(228, 228, 228) !important;
}

.cart-button:after {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: -10px;
  right: 15px;
  line-height: 1.8;
  border: 1px solid #a0aec0;
  background-color: #e2e8f0;
  color: rgb(139, 139, 139);
  border-radius: 50%;
  content: attr(data-after);
  font-weight: bold;
}